# Logs
logs
*.log*

# Node
node_modules

# Environment
.env
.env.*

# dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# IDE
.vscode
.idea
.zed
.fleet

# Vercel
.vercel

# Netlify
.netlify

# OS
.DS_Store

# System
*.pem